* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
    text-align: center;
    background-image: url("backgroundImage.jpg");
    background-size: cover;
    background-position: center;
}

.wrapper {
    background-color: rgb(90, 90, 90, .25);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    width: 100%;
}

.location,
.temperature {
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.location {
    margin-top: 1em;
    font-size: 1.15em;
}

.temperature {
    flex-direction: column;
    font-size: 1.35em;
}

.search {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

input,
button {
    display: block;
    padding: 10px 40px;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .7);

}

button {
    margin-top: 30px;
    color: rgb(47, 98, 151);
    font-size: 1.1rem;
    font-weight: 550;
    border-radius: 3px;

}

button:hover {
    background: rgb(47, 98, 151);
    color: white;
    cursor: pointer;
}


#desc {
    font-style: italic;
    font-weight: 100;
    font-size: 1.2em;
}

.clock {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-family: 'Cutive Mono', monospace;
    font-weight: 600;
}

.day {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Cutive Mono', monospace;
    font-weight: 600;
}

#info {
    display: none;
    line-height: 1.6;
    margin-top: 2em;
}